.search-input {
  padding: 0.625rem 1rem;
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  font-size: 0.875rem;
  transition: all 0.2s;
  width: 30%;
}

.search-input:focus {
  outline: none;
  border-color: var(--primary-blue-light);
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

@media (max-width: 576px) {
  .search-input {
    width: 60%;
  }
}
